<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Cache Cleaner</vendor>
  <vendor_url>https://github.com/samasadul124-ui/Arch-cache-cleaner-with-GUI</vendor_url>

  <action id="io.github.cachecleaner.paccache">
    <description>Clean the pacman package cache</description>
    <message>Cache Cleaner needs administrator privileges to remove files from /var/cache/pacman/pkg</message>
    <icon_name>cachecleaner</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/cachecleaner-paccache</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
